In [1]:
!pip install pandas
!pip install numpy
!pip install plotly

Requirement already satisfied: pandas in /home/abirhasanmubin/miniconda/lib/python3.10/site-packages (2.0.3)
Requirement already satisfied: numpy>=1.21.0 in /home/abirhasanmubin/miniconda/lib/python3.10/site-packages (from pandas) (1.24.3)
Requirement already satisfied: tzdata>=2022.1 in /home/abirhasanmubin/miniconda/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /home/abirhasanmubin/miniconda/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/abirhasanmubin/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/abirhasanmubin/miniconda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in /home/abirhasanmubin/miniconda/lib/python3.10/site-packages (1.24.3)
Requirement already satisfied: plotly in /home/abirhasanmubin/miniconda/lib/python3.10/site-packages (5.15.0)
Requirement already satisfied: packaging in /home/abirhasanmubin/.local/lib/python3.10/site-packages (from plotly) (23.1)
Requirement already satisfied: tenacity>=6.2.0 in /home/abirhasanmubin/miniconda/lib/python3.10/site-packages (from plotly) (8.2.2)

In [6]:
import numpy as np
import pandas as pd 
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
!pwd

/home/abirhasanmubin/biplab/ariake/pointcloud

In [4]:
!ls

README.md    data     pointcloud.py	     synthetic_point_cloud.xlsx  venv
__pycache__  main.py  pointcloud_demo.ipynb  train.csv

In [7]:
# load dataset
df_train = pd.read_csv("train.csv")

In [9]:
df_train.head(10)

,label,x0,y0,v0,x1,y1,v1,x2,y2,v2,...,v347,x348,y348,v348,x349,y349,v349,x350,y350,v350
0,7,14,7,254,21,18,140,21,17,106,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,2,17,6,253,16,19,253,10,7,253,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,1,16,18,223,10,4,5,15,13,165,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,0,17,8,253,20,17,105,14,20,251,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,4,18,17,18,10,11,85,17,4,236,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
5,1,15,18,254,10,5,5,11,7,105,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
6,4,16,4,253,10,22,192,14,9,158,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7,9,16,12,216,20,7,253,9,11,68,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
8,5,9,12,251,6,10,53,21,21,253,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
9,9,14,20,56,11,18,240,12,7,254,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [11]:
df_train.columns

Index(['label', 'x0', 'y0', 'v0', 'x1', 'y1', 'v1', 'x2', 'y2', 'v2',
       ...
       'v347', 'x348', 'y348', 'v348', 'x349', 'y349', 'v349', 'x350', 'y350',
       'v350'],
      dtype='object', length=1054)

In [12]:
df_train.values

array([[ 7, 14,  7, ..., -1, -1, -1],
       [ 2, 17,  6, ..., -1, -1, -1],
       [ 1, 16, 18, ..., -1, -1, -1],
       ...,
       [ 4, 11, 19, ..., -1, -1, -1],
       [ 5, 13, 19, ..., -1, -1, -1],
       [ 6, 21,  9, ..., -1, -1, -1]])